/ index page
.hero
  %br/
  %br/
  %br/
  .frosty.col-xs-4.col-xs-offset-4.text-center
    %br/
    %h1 Welcome to Defcon
    %br/
    %h2 A community of Firehoser coders and hackers
    %br/
    = link_to 'What are you waiting for?', posts_path, :class => 'btn btn-success'
    %br/
    %br/
%br/
.col-xs-10.col-xs-offset-1.features.text-center
  .col-sm-4
    = image_tag 'ponyfriend.jpg', :class => 'img-responsive'
  .col-sm-4
    = image_tag 'tinyfriend.jpg', :class => 'img-responsive'
  .col-sm-4
    = image_tag 'yetifriend.jpg', :class => 'img-responsive'