// Place all the styles related to the admin/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.users-search input {
  width: 50%;
  font-size: 1em;
  padding: .5em 1.3em;
  background: white;
  border: 1px solid #ddd;
  border-radius: 2em;
  outline: none;
}

.users-search input:focus {
}

.users-search .results .ui-widget-content {
  background: #fff;
  font-size: .9em;
  padding: .5em 0;
  border-color: #ddd;
  box-shadow: 0 .1em .2em rgba(187, 187, 187, 0.64);
  line-height: 1.2;
  max-height: 20em;
  overflow: hidden;
  overflow-y: auto;
}

.users-search .results .ui-menu-item {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  padding: .4em .6em .4em 6.2em;
  position: relative;
  border: 0;
  border-left: 5px solid transparent;
  position: relative;
  height: 6.5em;
}

.users-search .results .ui-state-focus {
  background: #fff;
  border-left-color: #08c;
  font-weight: 300;
}

.users-search .results .ui-menu-item .img {
  position: absolute;
  width: 5em;
  height: 6em;
  top: .4em;
  left: .6em;
  overflow: hidden;
}

.users-search .results .ui-menu-item .img img {
  max-width: 100%;
}

.users-search .results .ui-menu-item .email {
  display: block;
  color: #555;
}

.users-search .results .ui-menu-item .name {
  display: block;
  font-size: .8em;
  text-transform: uppercase;
  color: #aaa;
  margin-top: .6em;
  letter-spacing: 1px;
}

.users-search .results .ui-menu-item .added {
  display: block;
  font-size: .8em;
  color: #aaa;
  margin-top: .6em;
  letter-spacing: 1px;
}

.users-search .results .ui-menu-item .is-admin {
  display: block;
  font-size: .8em;
  color: #aaa;
  margin-top: .6em;
  letter-spacing: 1px;
}

.users-search .results .ui-state-focus .email,
.users-search .results .ui-state-focus .name,
.users-search .results .ui-state-focus .added,
.users-search .results .ui-state-focus .is-admin, {
  color: #08c;
}
