/ index.html.haml 20160107 Admin Users Index page ~AMP

- @users.each do |u|
  .booyah-box.col-xs-10.col-xs-offset-1
    = link_to u.email, edit_admin_user_path(u)
    %div.pull-right
    - if u.admin?
      = Admin
